---
import Layout from "../../layouts/Layout.astro";
import Container from "../../components/Container.astro";
// get the content collection
import { getCollection, render } from "astro:content";

let projects = await getCollection("projects");
const { Content } = await render(projects[0]);

const { title, subtitle } = projects[0].data;
---

<Layout>
  <main class="flex flex-col gap-8 pt-8 pb-0 md:gap-12 lg:pt-16 lg:pb-32">
    <Container>
      <h1 class="tib-rp text-4xl md:text-6xl lg:text-8xl">{title}</h1>
      <h2 class="tib-rp text-lg md:text-2xl lg:text-4xl" style="max-width: 80%;">
        {subtitle}
      </h2>
    </Container>
    <Content />
  </main>
</Layout>
